.idea/
cmake-build-debug/
cmake-build-release/
debian/.debhelper/
debian/debhelper-build-stamp
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/deepin-graphics-driver-manager/
debian/files
debian/tmp/
*.o
moc_*
*.qm
*.user
.vscode
build/
Makefile
qrc_*
*.a
.qmake.stash
obj-x86_64-linux-gnu/

