[Desktop Entry]
Categories=System;
Comment=Deepin Graphics Driver Manager is a compact and easy  to use graphics driver managing tool.
Exec=deepin-graphics-driver-manager
GenericName=Graphics Driver Manager
Icon=deepin-graphics-driver-manager
Name=Deepin Graphics Driver Manager
StartupNotify=true
Terminal=false
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ar]=مدير تعريف رسوميات ديبن هى أداة مدمجة و سهلة الإستخدام لإدارة تعريف الرسومات.
Comment[ast]=Deepin Graphics Driver Manager ye una ferramienta de xestión de controladores gráficos cenciella d'uasr y compauta
Comment[bg]=Deepin диспечер на графичен драйвер е компактен и лесен за използване инструмент за управление на графични драйвери.
Comment[ca]=El Gestor de controladors gràfics del Deepin és una eina de gestió de controladors gràfics compacta i fàcil d'usar.
Comment[cs]=Správa ovladačů grafických čipů je kompaktní a snadno použitelný nástroj pro správu ovladačů grafického hardware.
Comment[da]=Deepin grafikdriver-håndtering er et kompakt og letanvendeligt grafikdriver-håndteringsværktøj.
Comment[de]=Die Deepin Grafiktreiberverwaltung hilft, um sehr einfach die Grafiktreiber zu konfigurieren.
Comment[es]=Gestor de controladores gráficos Deepin es un compacta e intuitiva herramienta para gestionar controladores gráficos.
Comment[es_419]=Gestor de controladores gráficos Deepin es una herramienta de gestión de controladores de gráficos compacta y fácil de usar.
Comment[fa]=مدیر درایور گرافیک دیپین ابزاری برای مدیریت درایور گرافیکی  به صورت جمع وجور و آسان برای استفاده است.
Comment[fi]=Deepin grafiikkaohjaimen hallinta on pienikokoinen ja helppokäyttöinen näytönohjaimien hallintatyökalu.
Comment[fr]=Gestionnaire de pilotes graphiques Deepin est un outil de gestion des pilotes graphiques léger et facile à utiliser.
Comment[hr]=Deepin upravitelj grafičkim upravljačkim programom je kompaktan i lagan za korištenje alat za upravljanje grafičkim upravljačkim programom.
Comment[hu]=A Deepin® Grafikus Illesztőprogram Kezelő egy kompakt és könnyen használható meghajtókezelő eszköz.
Comment[id]=Manajer Driver Grafis Deepin adalah alat yang mengatur grafis yang kompak dan mudah digunakan
Comment[it]=Il Gestore driver grafici di Deepin è uno strumento di gestione dei driver video. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[ko]=Deepin 그래픽 드라이버 관리도구는 작고 사용하기 쉬운 그래픽 드라이버 관리 도구입니다.
Comment[lt]=Deepin grafikos tvarkyklių tvarkytuvė yra kompaktiškas ir lengvas naudoti grafikos tvarkyklių valdymo įrankis.
Comment[ms]=Pengurus Pemacu Grafik Deepin ialah alat pengurusan pemacu grafik yang ringkas dan mudah digunakan.
Comment[ne]=ग्राफिक्स ड्राइभर प्रबन्धक एक कम्पैक्ट तथा ग्राफिक्स ड्राइभर उपकरण हो येसलाई प्रयोग गर्न सजिलो छ
Comment[nl]=Deepin Grafisch Stuurprogrammabeheer is een klein, eenvoudig hulpmiddel om stuurprogramma's van grafische kaarten te beheren.
Comment[pl]=Zarządzanie sterownikami graficznymi Deepin to kompaktowe i proste w obsłudze narzędzie zarządzania sterownikami graficznymi.
Comment[pt]=O Gestor de Controlador Gráfico Deepin é um gestor de controladores gráficos fácil e compacto.
Comment[pt_BR]=O Gerenciador de Drivers Gráficos é uma ferramenta compacta e fácil de utilizar.
Comment[ro]=Manager Driver Vide Deepin este un instrument de gestionare a driverului grafic compact și ușor de utilizat.
Comment[ru]=Deepin Graphics Driver Manager - это компактный и простой в использовании инструмент управления графическим драйвером.
Comment[sk]=Deepin Manažér grafického ovládača je kompaktný a ľahko použiteľný nástroj pre správu grafického ovládača.
Comment[sq]=Përgjegjësi Deepin i Përudhësve Grafikë është një mjet kompakt dhe i lehtë për t’u përdorur administrimi përudhësish grafikë
Comment[sr]=Дипин Управник Графичких Управљача је компактан и лак за коришћење алат за управљање управљачим програмима.
Comment[tr]=Deepin Görüntü Aygıtı Sürücüsü Yöneticisi küçük ve basit bir görüntü aygıtı sürücüsü yönetimi aracıdır.
Comment[ug]=Deepin گرافىك قوزغاتقۇچ باشقۇرغۇچى گرافىك قوزغاتقۇچ باشقۇرۇش قورالى ئىخچام ۋە ئىشلىتىشكە قۇلايلىق.
Comment[uk]=Керування графічними картками Deepin — компактний і простий у користуванні засіб для керування драйверами до графічних карток.
Comment[zh_CN]=深度显卡驱动管理器是一款小巧易用的显卡驱动管理工具。
Comment[zh_HK]=Deepin 顯卡驅動管理器是一款小巧易用的顯卡驅動管理工具。
Comment[zh_TW]=Deepin 顯示卡管理器是個嚴謹且易用的顯卡驅動管理程序。
GenericName[ar]=مدير تعريف الرسوميات 
GenericName[ast]=Xestor de controladores gráficos
GenericName[bg]=Диспечер на графичен драйвер
GenericName[ca]=Gestor de controladors gràfics
GenericName[cs]=Správa ovladačů grafických čipů
GenericName[da]=Grafikdriver-håndtering
GenericName[de]=Grafiktreiberverwaltung
GenericName[es]=Gestor de controladores gráficos
GenericName[es_419]=Gestor de controladores gráficos
GenericName[et]=Videokaardi draiverite haldamine
GenericName[fa]=مدیر درایور گرافیک
GenericName[fi]=Grafiikkaohjaimet
GenericName[fr]=Gestionnaire de pilotes graphiques
GenericName[hr]=Upravitelj grafičkim upravljačkim programom
GenericName[hu]=Grafikus Illesztőprogram Kezelő
GenericName[id]=Manajer Driver Grafis
GenericName[it]=Gestore driver grafici
GenericName[ko]=그래픽 드라이버 관리도구
GenericName[lt]=Grafikos tvarkyklių tvarkytuvė
GenericName[ms]=Pengurus Pemacu Grafik
GenericName[ne]=ग्राफिक्स ड्राइभर प्रबन्धक
GenericName[nl]=Grafisch Stuurprogrammabeheer
GenericName[pl]=Zarządzanie sterownikami graficznymi
GenericName[pt]=Gestor de Controlador Gráfico
GenericName[pt_BR]=Gerenciador de Drivers Gráficos
GenericName[ro]=Manager Driver Video
GenericName[ru]=Менеджер Графических Драйверов
GenericName[sk]=Manažér grafického ovládača
GenericName[sq]=Përgjegjës Përudhësish Grafikë
GenericName[sr]=Управник Графичких Управљача
GenericName[tr]=Görüntü Aygıtı Sürücüsü Yöneticisi
GenericName[ug]=گىرافىك قوزغاتقۇچ باشقۇرغۇچى
GenericName[uk]=Керування драйверами графіки
GenericName[zh_CN]=显卡驱动管理器
GenericName[zh_HK]=顯卡驅動管理器
GenericName[zh_TW]=顯示卡管理器
Name[ar]=مدير تعريف رسوميات ديبن
Name[ast]=Deepin Graphics Driver Manager
Name[bg]=Deepin диспечер на графичен драйвер
Name[ca]=Gestor de controladors gràfics del Deepin
Name[cs]=Správa ovladačů grafických čipů v Deepin
Name[da]=Deepin grafikdriver-håndtering
Name[de]=Deepin Grafiktreiberverwaltung
Name[es]=Gestor de controladores gráficos Deepin
Name[es_419]=Gestor de controladores gráficos Deepin
Name[fa]=مدیر درایور گرافیک دیپین
Name[fi]=Deepin grafiikkaohjaimen hallinta
Name[fr]=Gestionnaire de pilotes graphiques Deepin
Name[hr]=Deepin upravitelj grafičkim upravljačkim programom
Name[hu]=Deepin® Grafikus Illesztőprogram Kezelő
Name[id]=Manajer Driver Graphis Deepin
Name[it]=Gestore driver grafici di Deepin
Name[ko]=Deepin 그래픽 드라이버 관리도구
Name[lt]=Deepin grafikos tvarkyklių tvarkytuvė
Name[ms]=Pengurus Pemacu Grafik Deepin
Name[ne]=डिपिन ग्राफिक्स ड्राइभर प्रबन्धक
Name[nl]=Deepin Grafisch Stuurprogrammabeheer
Name[pl]=Zarządzanie sterownikami graficznymi Deepin
Name[pt]=Gestor de Controlador Gráfico Deepin
Name[pt_BR]=Deepin Gerenciador de Drivers Gráficos
Name[ro]=Manager Driver Video Deepin
Name[ru]=Менеджер Графических Драйверов Deepin
Name[sk]=Deepin Manažér grafického ovládača
Name[sq]=Përgjegjës Deepin Përudhësish Grafikë
Name[sr]=Управник Графичких Управљача
Name[tr]=Deepin Görüntü Aygıtı Sürücüsü Yöneticisi
Name[ug]=Deepin گىرافىك قوزغاتقۇچ باشقۇرغۇچى
Name[uk]=Керування драйверами графіки Deepin
Name[zh_CN]=深度显卡驱动管理器
Name[zh_HK]=Deepin 顯卡驅動管理器
Name[zh_TW]=Deepin 顯示卡管理器

