[Desktop Entry]
Categories=System;
Comment=Deepin Graphics Driver Manager is a compact and easy  to use graphics driver managing tool.
Exec=deepin-graphics-driver-manager
GenericName=Graphics Driver Manager
Icon=deepin-graphics-driver-manager
Name=Deepin Graphics Driver Manager
StartupNotify=true
Terminal=false
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ast]=Deepin Graphics Driver Manager ye una ferramienta de xestión de controladores gráficos cenciella d'uasr y compauta
Comment[bg]=Deepin диспечер на графичен драйвер е компактен и лесен за използване инструмент за управление на графични драйвери.
Comment[ca]=El Gestor de controladors gràfics del Deepin és una eina de gestió de controladors gràfics compacta i fàcil d'usar.
Comment[cs]=Správce ovladačů grafické karty celistvý a snadno se používající nástroj na správu ovladačů grafických karet.
Comment[da]=Deepin grafikdriver-håndtering er et kompakt og letanvendeligt grafikdriver-håndteringsværktøj.
Comment[de]=Die Deepin Grafiktreiberverwaltung hilft, um sehr einfach die Grafiktreiber zu konfigurieren.
Comment[es]=Deepin Graphics Driver Manager es un compacta e intuitiva herramienta para gestionar controladores gráficos.
Comment[es_419]=Gestor de controladores gráficos Deepin es una herramienta de gestión de controladores de gráficos compacta y fácil de usar.
Comment[fi]=Deepin näytönohjaimen hallinta on pienikokoinen ja helppokäyttöinen graafisten ohjaimien hallintatyökalu.
Comment[fr]=Le gestionnaire de pilotes graphiques Deepin est un outil de gestion des pilotes graphiques léger et facile à utiliser.
Comment[id]=Manajer Driver Grafis Deepin adalah alat yang mengatur grafis yang kompak dan mudah digunakan
Comment[it]=Deepin Graphics Driver Manager è uno strumento di gestione dei driver grafici. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[lt]=Deepin grafikos tvarkyklių tvarkytuvė yra kompaktiškas ir lengvas naudoti grafikos tvarkyklių valdymo įrankis.
Comment[ms]=Pengurus Pemacu Grafik Deepin ialah alat pengurusan pemacu grafik yang ringkas dan mudah digunakan.
Comment[ne]=ग्राफिक्स ड्राइभर प्रबन्धक एक कम्पैक्ट तथा ग्राफिक्स ड्राइभर उपकरण हो येसलाई प्रयोग गर्न सजिलो छ
Comment[nl]=Deepin Grafisch Stuurprogrammabeheer is een klein, eenvoudig hulpmiddel om stuurprogramma's van grafische kaarten te beheren.
Comment[pl]=Zarządzanie sterownikami graficznymi Deepin to kompaktowe i proste w obsłudze narzędzie zarządzania sterownikami graficznymi.
Comment[pt]=O Deepin Graphics Driver Manager é um gestor de controladores gráficos fácil e compacto.
Comment[pt_BR]=O Gerenciador de Driver Gráfico Deepin é uma ferramenta compacta e fácil de usar.
Comment[ru]=Deepin Graphics Driver Manager - это компактный и простой в использовании инструмент управления графическим драйвером.
Comment[sq]=Përgjegjësi Deepin i Përudhësve Grafikë është një mjet kompakt dhe i lehtë për t’u përdorur administrimi përudhësish grafikë
Comment[sr]=Дипин Управник Управљачких Програма је компактан и лак за коришћење алат за управљање управљачим програмима.
Comment[tr]=Deepin Görüntü Aygıtı Sürücüsü Yöneticisi küçük ve basit bir görüntü aygıtı sürücüsü yönetimi aracıdır.
Comment[uk]=Керування графічними картками Deepin — компактний і простий у користуванні засіб для керування драйверами до графічних карток.
Comment[zh_CN]=深度显卡驱动管理器是一款小巧易用的显卡驱动管理工具。
Comment[zh_TW]=Deepin 顯示卡管理器是個嚴謹且易用的顯卡驅動管理程序。
GenericName[ast]=Xestor de controladores gráficos
GenericName[bg]=Диспечер на графичен драйвер
GenericName[ca]=Gestor de controladors gràfics
GenericName[cs]=Správce ovladačů grafické karty
GenericName[da]=Grafikdriver-håndtering
GenericName[de]=Grafiktreiberverwaltung
GenericName[es]=Gestor de controladores gráficos
GenericName[es_419]=Gestor de controladores gráficos
GenericName[et]=Videokaardi draiverite haldamine
GenericName[fi]=Graphics Driver Manager
GenericName[fr]=Gestionnaire de pilotes graphiques
GenericName[id]=Manajer Driver Grafis
GenericName[it]=Graphics Driver Manager
GenericName[lt]=Grafikos tvarkyklių tvarkytuvė
GenericName[ms]=Pengurus Pemacu Grafik
GenericName[ne]=ग्राफिक्स ड्राइभर प्रबन्धक
GenericName[nl]=Grafisch Stuurprogrammabeheer
GenericName[pl]=Zarządzanie sterownikami graficznymi
GenericName[pt]=Gestor de Controladores Gráficos
GenericName[pt_BR]=Gerenciador de Driver Gráfico
GenericName[ru]=Менеджер Графических Драйверов
GenericName[sq]=Përgjegjës Përudhësish Grafikë
GenericName[sr]=Управник Управљачких Програма
GenericName[tr]=Görüntü Aygıtı Sürücüsü Yöneticisi
GenericName[uk]=Керування драйверами графіки
GenericName[zh_CN]=显卡驱动管理器
GenericName[zh_TW]=顯示卡管理器
Name[ast]=Deepin Graphics Driver Manager
Name[bg]=Deepin диспечер на графичен драйвер
Name[ca]=Gestor de controladors gràfics del Deepin
Name[cs]=Správce ovladačů grafické karty
Name[da]=Deepin grafikdriver-håndtering
Name[de]=Deepin Grafiktreiberverwaltung
Name[es]=Deepin Graphics Driver Manager
Name[es_419]=Gestor de controladores gráficos Deepin
Name[fi]=Deepin näytönohjaimen hallinta
Name[fr]=Gestionnaire de pilotes graphiques Deepin
Name[id]=Manajer Driver Grafis Deepin
Name[it]=Deepin Graphics Driver Manager
Name[lt]=Deepin grafikos tvarkyklių tvarkytuvė
Name[ms]=Pengurus Pemacu Grafik Deepin
Name[ne]=डिपिन ग्राफिक्स ड्राइभर प्रबन्धक
Name[nl]=Deepin Grafisch Stuurprogrammabeheer
Name[pl]=Zarządzanie sterownikami graficznymi Deepin
Name[pt]=Deepin Graphics Driver Manager
Name[pt_BR]=Gerenciador de Driver Gráfico Deepin
Name[ru]=Менеджер Графических Драйверов Deepin
Name[sq]=Përgjegjës Deepin Përudhësish Grafikë
Name[sr]=Дипин Управник Управљачких Програма
Name[tr]=Deepin Görüntü Aygıtı Sürücüsü Yöneticisi
Name[uk]=Керування драйверами графіки Deepin
Name[zh_CN]=深度显卡驱动管理器
Name[zh_TW]=Deepin 顯示卡管理器

