[Desktop Entry]
Name=Deepin Graphics Driver Manager
Name[zh_CN]=深度显卡驱动管理器
GenericName=Graphics Driver Manager
GenericName[zh_CN]=显卡驱动管理器
Comment=Deepin Graphics Driver Manager is a compact and easy  to use graphics driver managing tool.
Comment[zh_CN]=深度
Exec=deepin-graphics-driver-manager
Icon=deepin-graphics-driver-manager
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
X-Deepin-Vendor=deepin
