QLabel #TopTips {
    font-size: 16pt;
}

QLabel #BottomTips {
    margin-top: 35px;
}

QWidget #ResolutionsWidget {
    background-color: #242424;
    border: 1px solid #2D2D2D;
    border-radius: 3px;
}
