[Desktop Entry]
Name=Deepin graphics driver manager - installer
GenericName=Deepin graphics driver manager - installer
Comment=Install drivers
Exec=/usr/lib/deepin-graphics-driver-manager/installer
Icon=deepin-graphics-driver-manager
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
